@model LuxuryEstateProject.Web.ViewModels.Agent.AgentsListViewModel
@{
    this.ViewData["Title"] = "Admin panel";
}
<br />
<br />
<br />
<br />
<br />
<br />
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var agent in @Model.Agents)
    {
        <tbody class="thead-light">
            <tr>
                <th>@agent.Id</th>
                <td>@agent.Name</td>
                <td>@agent.LastName</td>
                <td>@agent.Phone</td>
                <td>@agent.Email</td>
                <td class="row-cols-3">
                    <form method="post" asp-area="" asp-controller="Agent" asp-action="Delete" id="deleteForm" asp-route-id="@agent.Id"></form>
                    <button class="btn btn-danger col-md-3" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    <a asp-area="" asp-controller="Agent" asp-action="Edit" asp-route-id="@agent.Id" class="btn btn-secondary">Edit</a>
                </td>
            </tr>
        </tbody>
    }
</table>

<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Do you really want to delete this record"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
